<%- include("../layouts/admin/header.ejs") %>
<%- include("../layouts/admin/navbar.ejs") %>

 

 


            <!--djlkjlkajlkjkldajkkjslj-->
            <div class="page-wrapper">

                <div class="container-fluid">
            
                  <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                      <h3 class="text-themecolor">Admin Dashboard</h3>
            
                    </div>
            
                  </div>
                  <a style="text-align:right;" class="waves-effect waves-dark p-4" href="/admin/dashboard" aria-expanded="false"></i><span class="hide-menu">Refresh</span></a>
                  <!--djlkjlkajlkjkldajkkjslj-->
<div class="row">
        

                <% for(let i=0;i<categoryData.length;i++){ %>
                  <%  let count=0 %>
                <% for(let j=0;j<productData.length;j++){ %>
                 
                  <%if (categoryData[i].categoryName===productData[j].category.categoryName){ %>
                          
                       <% count++ %>

                       <%}%>
                     
                       <%   } %>
                 
              
                  <div style="background-color: rgb(138, 202, 236); color: black;" class="card  mb-3 m-1" style="max-width: 18rem;">
                    <div class="card-header"><%=categoryData[i].categoryName%></div>
                    <div class="card-body">
                      <h5 class="card-title">Total Available Products</h5>
                      <b> <%= count %></b>
                    </div>
                  </div>
              
              <%  } %>
               
        </div>

    </div>






    

    <%- include("../layouts/admin/footer.ejs") %>