<%- include("../layouts/admin/header.ejs") %>
<%- include("../layouts/admin/navbar.ejs") %>

 

 


            <!--djlkjlkajlkjkldajkkjslj-->
            <div class="page-wrapper">

                <div class="container-fluid">
            
                  <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                      <h3 class="text-themecolor">Admin Dashboard</h3>
            
                    </div>
            
                  </div>
                  <a style="text-align:right;" class="waves-effect waves-dark p-4" href="/admin/dashboard" aria-expanded="false"></i><span class="hide-menu">Refresh</span></a>
                  <div class="row ml-3 mb-4">
        

                
                  
                    <div style="background-color: rgb(163, 228, 150); color: black; border-radius: 18px;" class="card pl-5 pr-5 mb-1 m-1 ml-5" style="max-width: 18rem;">
                    
                      <div class="card-body">
                        <h5 class="card-title">Total Sales</h5>
                        <b> <%=salesCount %></b>
                      </div>
                    </div>
                                
                            
                    <div style="background-color: rgb(135, 221, 231); color: black; border-radius: 18px;" class="card   ml-4  m-1" style="max-width: 18rem;">
                 
                      <div class="card-body">
                        <h5 class="card-title">Revenue Of the Week</h5>
                        <b> <%=weeklyRevenue[0].totalAmount %></b>
                      </div>
                    </div>
          
                                    
                            
                    <div  style="background-color: rgb(240, 139, 113); color: black; border-radius: 18px;" class="card pl-3 pr-3 ml-4 m-1" style="max-width: 18rem;">
                  
                      <div class="card-body ">
                        <h5 class="card-title">Cancelled Orders</h5>
                        <b> <%=cancelledOrdersCount[0].count %></b>
                      </div>
                    </div>
                          
                            
                    <div style="background-color: rgb(206, 147, 224); color: black; border-radius: 18px;" class="card pl-3 pr-3 ml-4 m-1" style="max-width: 18rem;">
                      
                      <div class="card-body">
                        <h5 class="card-title">Total Customers</h5>
                        <b> <%=toatalCustomers%></b>
                      </div>
                    </div>
          
          
                 
          </div>
          
                  <!--djlkjlkajlkjkldajkkjslj-->
<div class="row ml-5"  >
        

                <% for(let i=0;i<categoryData.length;i++){ %>
                  <%  let count=0 %>
                <% for(let j=0;j<productData.length;j++){ %>
                 
                  <%if (categoryData[i].categoryName===productData[j].category.categoryName){ %>
                          
                       <% count++ %>

                       <%}%>
                     
                       <%   } %>
                 
              
                  <div style="background-color: rgb(138, 202, 236); color: black;" class="card  mb-3 m-1" style="max-width: 18rem;">
                    <div class="card-header"><%=categoryData[i].categoryName%></div>
                    <div class="card-body">
                      <h5 class="card-title">Total Available Products</h5>
                      <b> <%= count %></b>
                    </div>
                  </div>
              
              <%  } %>
               
        </div>

    
</div>  
    </div>






    

    <%- include("../layouts/admin/footer.ejs") %>