<%- include("../layouts/admin/header.ejs") %>
<%- include("../layouts/admin/navbar.ejs") %>

        <div class="page-wrapper">

            <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Edit Category</h3>

                    </div>

                </div>

                <!--djlkjlkajlkjkldajkkjslj-->
                <% details.forEach(element=> { %>

                <div class="col-lg-12 col-xlg-12 col-md-12">
                    <div class="card">
                        <!-- Tab panes -->
                        <div class="card-body">
                            <form action="/admin/editCategory/<%= element._id %>" class="form-horizontal form-material" method="post">
                                <div class="form-group">
                                    <label class="col-md-12">Category Name</label>
                                    <div class="col-md-12">
                                        <input type="text" name="name" class="form-control form-control-line" value="<%=element.categoryName %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Description</label>
                                    <div class="col-md-12">
                                        <input type="text" name="description" class="form-control form-control-line" value="<%=element.description %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type='submit' class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                                <% }); %>
                            </form>
                            <% if(typeof message !=='undefined' ){ %>
                                <h5 style="color: rgb(47, 134, 206);">
                                    <%= message %>
                                </h5>
                                <% } %>
                                
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>

    <%- include("../layouts/admin/footer.ejs") %>