<%- include("../layouts/user/header.ejs") %>

  <%- include("../layouts/user/headers.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
    <section style="background-color: #ffffff;" id="address">
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class=" ">
              <ol class="breadcrumb mb-0">

              </ol>
            </nav>
          </div>
        </div>

        <!-- <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>




      <div class="col-lg-8 container-fluid">
        <!-- <button type="button" class="btn btn-outline-primary ms-1"><a href="/addAddress">Add Address</a></button> -->
        <button type="button" class="mb-5" style="border-radius: 5px;  background-color:   rgb(226, 227, 225); color:#000000" data-toggle="modal" data-target=".bd-example-modal-lg">Add
          Address</button>

        <div class="card mb-4 pt-5">
          <div class="card-body">





            <% datas.address.forEach((element,index)=>{ %>


              <div class="row">
                <div class="col-sm-2">
                  <p class="mb-0"> Address <%=index+1 %>
                  </p>
                </div>
                <div class="col-sm-7">
                  <p class="text-muted mb-0">
                    <%=element.houseName %>,
                      <%=element.street %>,
                        <%=element.disrtrict %>,
                          <%=element.state %>,
                            <%=element.country %>,
                              <%=element.pincode %>,
                                <%=element.phone %>,
                  </p>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-danger" onclick="validate('<%= element._id %>')">
                    delete
                  </button>
          
                </div>
                <div class="col-sm-1">
                  <a style="color: blue;" href="/editAddress/<%=element._id %>">Edit</a>
                </div>
              </div>
              <hr>
              <%}) %>
          </div>
        </div>
      </div>
      </div>

      </div>
      </div>

      </div>
      </div>


    </section>
    <section>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="container py-5 h-100" style="background-color: rgb(226, 227, 225)">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">

                  <div class="">
                    <h3>Add New Address</h3>
                    <form action="" method="post" id="addAddress">
                      <div class="row ">
                        <div class="col-md-12 mb-4">
                          <div id="alertpasswordUser1" class="alert alert-success" role="alert" style="display: none;">

                          </div>
                          <div class="form-outline ">
                            <label class="form-label">House Name</label>
                            <input type="text" name="hname" class="form-control form-control-lg"  />

                          </div>

                        </div>

                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label class="form-label">Street</label>
                            <input type="text" name="street" class="form-control form-control-lg"/>

                          </div>

                        </div>
                        <div class="col-md-6 mb-4">

                          <div class="form-outline">
                            <label class="form-label">District</label>
                            <input type="text" name="district" class="form-control form-control-lg" />

                          </div>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4 d-flex align-items-center">

                          <div class="form-outline datepicker w-100">
                            <label class="form-label">State</label>
                            <input type="text" name="state" class="form-control form-control-lg" id="birthdayDate"
                              />

                          </div>

                        </div>

                        <div class="col-md-6 mb-4 pb-2">

                          <div class="form-outline">
                            <label class="form-label">Country</label>
                            <input type="text" name="country" class="form-control form-control-lg"/>

                          </div>

                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-6 mb-4 pb-2">

                          <div class="form-outline">
                            <label class="form-label">pincode</label>
                            <input type="Number" id="emailAddress" name="pincode" class="form-control form-control-lg"
                               />

                          </div>

                        </div>
                        <div class="col-md-6 mb-4 pb-2">

                          <div class="form-outline">
                            <label class="form-label">Phone Number</label>
                            <input type="Number" name="number" class="form-control form-control-lg"  />

                          </div>

                        </div>
                      </div>
                      <div id="alertpasswordUser" class="alert alert-danger" role="alert" style="display: none;">

                      </div>

                      <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <script>
      $('#addAddress').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        const inputs=document.querySelectorAll('form input')
        let inputFieldNull=false
        for(let i=0;i<inputs.length;i++){
    if(inputs[i].value.trim()==""){
      inputFieldNull=true
      $('#alertpasswordUser').attr({ style: "display: block" }).html("All fields Required")
              setTimeout(() => {
                $('#alertpasswordUser').hide()
              }, 3000)
    }
        }
        if(!inputFieldNull){
        $.ajax({
          url: '/addAddress', // replace with the URL of your server-side script
          type: 'POST', // use POST method
          data: formData,
          success: (response) => {
            // handle the response from the server
            console.log("yes")
            console.log(response);
            if (response.status) {
              $('#alertpasswordUser1').attr({ style: "display: block" }).html("Saved")
              setTimeout(() => {
                $('#alertpasswordUser1').hide()
              }, 3000)
              location.href = '/address'
            }


          }
        })
     }   })


     function validate(deleteId) {
      Swal.fire({
          title: 'Are you sure?',
          text: "You wan't to unlist this Address!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'yes, deleted!'
      }).then((result) => {
             if (result.isConfirmed) {
                          $.ajax({
                              url: '/removeAddress/' + deleteId,
                              method: 'get',
                              success: (response) => {
                                  Swal.fire({
                                      title: 'unlisted!',
                                      text: 'Your are deleted this address',
                                      icon: 'success',
                                      showConfirmButton: false
                                  })
                                  $('#address').load('/address #address')
                              }
                          })
                      }
      })
  }
    </script>
    <%- include("../layouts/user/footer.ejs") %>