<%- include("../layouts/user/header.ejs") %>

  <%- include("../layouts/user/headers.ejs") %>

<% if (order.length==0){%>
  <div  style="align-content: center;">
    <img class="center" src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-2130356-1800917.png" alt="empty cart">
    <h3 style="text-align:center ;"><i>Empty Order</i></h3>
  </div>
<%}else{%>
  <section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class=" ">
            <ol class="breadcrumb mb-0">

            </ol>
          </nav>
        </div>
      </div>

    <section style="background-color: #ffffff;">
  <div class="container py-5" >
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3"  id="orderpage">
          <div class="card-body">
            <% order.forEach((element)=>{%>
            
                       
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface ml-5">
                  <% element.product.forEach((element1)=>{ %>
                  <img src="/product_images/<%=element1.productId.image[0] %> "
                  style="width: 100px;" />
                    <%  }) %>
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
               
                
                  <% element.product.forEach((element1)=>{ %>
                <h5>  &#9679; <%=element1.productId.name %>( <%=element1.quantity %> )</h5>
                <%  }) %>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                   
                  </div>
                  <span></span>
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <span>First Quality</span>
                 
                </div>
                <div class="mb-2 text-muted small">
                  <span>Unique design</span>
                  
                </div>
                <p class="text-truncate mb-4 mb-md-0">
                  <%=element.orderId %>
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">₹ <%=element.total %></h4>
                  <span class="text-danger"><s><%=element.discount %></s></span>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <h6 class="text-info"><span id="<%=element._id %>"  ><%= element.status%></span></h6>
                <div class="d-flex flex-column mt-4">
                  <button class="btn btn-outline-primary btn-sm mb-2" type="button"><a href="/viewOrders/<%=element._id %>">
                    View Order</a>
                   
                  </button>
                  <!-- <button class="btn btn-primary btn-sm" type="button"><span id="<%=element._id %>"  ><%= element.status%></span></button> -->
                 
                  <% if (element.status=="delivered"){%>
                    <% let checkDate=Date.now()%>
                    <% if(checkDate<=element.returnDate){%>
                      
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                      Return Order
                    </button>
                    <%}%>
                  <%}else if(element.status!=="Payment Failed" && element.status!=="cancelled" && element.status!=="Return pending" && element.status!=="Returned" && element.status!=="return declined"){%>
                    <button class="btn btn-outline-danger btn-sm mt-2"  onclick="validate('<%=element._id %>','cancelled')" type="button">
                      Cancel Order
                    </button>
                    <%}%>

                </div>
              </div>
            </div>
          <hr><hr>

     


<!-- //modal return -->
<section>
  <div class="modal " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form action="" id="returning">
       
      <div  class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title" id="exampleModalLongTitle">Reason for Return</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="alertpasswordUser" class="alert alert-danger" role="alert" style="display: none;">

        </div>
        <div class="modal-body" style="width: 500px;">
          <div class="form-group">
            <input type="radio" name="one" value="Wrong Product">Wrong Product<br><br>
        </div>
        <div class="form-group">
            <input type="radio" name="one" value="Not Good">Not Good<br><br>
        </div>
        <div class="form-group">
          <input type="radio" name="one" value="Damaged">Damaged<br><br>
      </div>
      <div class="form-group">
        <input type="radio" name="one" value="Changed my mind">Changed my mind<br><br>
    </div>
        </div>
        <input type='hidden' id="orders" name="order" value='<%=element._id%>'>

        <div class="modal-footer">
          <a class="btn btn-secondary" href="/orders">Close</a>
          <button type="submit"  class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</section>
<%}) %>  
</div>
</div>
</div>
</div>

</div>
</div>
</section>
<% }%>
<script>
  
     //main form submit for success
     $('#returning').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '/returnOrder', // replace with the URL of your server-side script
                    type: 'POST', // use POST method
                    data: formData,
                    success: (response) => {
                        // handle the response from the server
                        console.log("yes")
                        console.log(response);
                        if (response.error) {
                          Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Select a Reason.',
                            })
                        } else if (response.status){
                         location.reload()
                        }
                    },

                });
            });




    function validate(orderId,value) {
        value = value
        orderId = orderId
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Cancel it!'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
                url: '/cancelOrder',
                data: {
                    orderId: orderId,
                    value: value
                },
                method: 'post',
                success: (response) => {
                    
                        Swal.fire({
                            title: 'Cancelled!',
                            text: 'Your Order has been Cancelled.',
                            icon: 'success',
                            showConfirmButton: false
                        })
                        setTimeout(() => {
                            location.reload()
                        }, 1000);
                        document.getElementById(orderId).innerHTML = response.status
                   
                }
            })
          }
        })
    }

  </script>


    <%- include("../layouts/user/footer.ejs") %>