<%- include("../layouts/user/header.ejs") %>

  <%- include("../layouts/user/headers.ejs") %>
  <section class="h-100" style="background-color: #ffffff;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Wishlist</h3>
            <div>
              <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                    class="fas fa-angle-down mt-1"></i></a></p>
            </div>
          </div>
          <% wishlistData.wishlist.forEach((element)=>{ %>
        
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="/product_images/<%=element.product.image[2] %>"
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2"><%=element.product.name %></p>
                   </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
               
                  <h5 class="mb-0"><%=element.product.price %></h5>

                  
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2 " data-mdb-toggle="tooltip"
                  title="Remove item">
                  <a style="color: rgb(255, 255, 255);" href="/addcart/<%= element._id %>"> Add to cart</a>

                </button>  

                  </div>
                <div class="col-md-3 col-lg-2 col-xl-2 text-end">
                  <button type="button" class="btn btn-danger btn-sm me-1 mb-2 " data-mdb-toggle="tooltip"
                  title="Remove item">
                  <a style="color: aliceblue;" href="/removeWishlist/<%= element.product._id %>"> remove</a>

                </button>      
                </div>
              </div>
            </div>
          </div>
    <%} )%>
        </div>
      </div>
    </div>
  </section>



      <%- include("../layouts/user/footer.ejs") %>